.evolutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .evolutions > p {
    display: none;
  }
  .evolutions > div:last-child > div {
    flex-direction: column;
  }
}
