@import "tailwindcss/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RBYGSC";
  src: url("/fonts/RBYGSC.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RSE";
  src: url("/fonts/RSE.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BWB2W2";
  src: url("/fonts/BWB2W2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* CSS custom properties / CSS variables */
:root {
  --font-size: 1.3rem;
  --background-colour: #f0f0f0;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "BWB2W2", Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--background-colour);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: var(--font-size);
  line-height: 1em;
  font-family: "BWB2W2";
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

/* Pages */
main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Box border with Pokeballs in corners */
.pokeball-box {
  position: relative;
  border: 5px double #000;
}
.pokeball {
  height: 12px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fafafa;
}
.pokeball,
.pokeball-upper {
  position: absolute;
  width: 12px;
}
.pokeball-upper {
  left: -2px;
  bottom: 4px;
  height: 6px;
  border-radius: 8px 8px 0 0;
  background-color: #000;
}
.top-left {
  top: -8px;
  left: -8px;
}
.top-right {
  top: -8px;
  right: -8px;
}
.bottom-left {
  bottom: -8px;
  left: -8px;
}
.bottom-right {
  bottom: -8px;
  right: -8px;
}

/* Hides the <select> down arrow */
.hide-select-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body,
  main {
    background-color: #0a192f;
    color: #caf0f8;
    /* ... other dark mode specific styles ... */
  }

  a {
    color: #caf0f8;
    /* ... */
  }

  .autocomplete > i.dialogue-box-arrow.up {
    border-top-color: #000;
    border-bottom-color: #caf0f8;
  }

  .dialogue-box-arrow {
    border-top-color: #caf0f8;
  }

  .rby-dialogue-box,
  .autocomplete__li__btn {
    border-color: #5b8098;
    background-color: #0a192f;
  }
  .autocomplete__li__btn:hover,
  .autocomplete__li__btn:focus {
    background-color: #5b8098;
    color: #fff;
  }

  /* Continue with other elements that need dark mode styling */
}
