.container {
  background-color: #e0ebeb;
}

.header {
  background-color: #24527a;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: calc(var(--page-gutter) * -1);
  padding-inline: var(--page-gutter);
}

.wrapper > table tbody tr > td {
  border-width: 2px;
}

/* In mobile the table wrapper should be scrollable */
@media (max-width: 1280px) {
  .wrapper {
    overflow-x: auto;
  }
}
