.card__border {
  border: 1px solid white;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
}

@media (prefers-color-scheme: dark) {
  .card__border {
    border: 1px solid black;
    box-shadow: 0 1px 0 1px white, inset 0 1px 0 1px white, 0 0 0 1px white,
      inset 0 0 0 1px white;
  }
}
