.autocomplete > i.dialogueBoxArrow {
  right: 15px;
  pointer-events: revert;
}
.autocomplete > i.dialogueBoxArrow:hover {
  cursor: pointer;
}

.dialogueBoxArrow {
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: var(--box-arrow-colour);
  float: right;
}

.rbyDialogueBox,
.autocomplete__li__btn {
  background-color: var(--input-bg-colour);
}

.autocomplete__li__btn {
  border-left: 2px solid var(--button-border-colour);
  border-right: 2px solid var(--button-border-colour);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
}

.autocomplete__li__btn:hover,
.autocomplete__li__btn:focus {
  background-color: var(--hover-bg-colour);
  color: var(--hover-text-colour);
  outline: none;
  cursor: pointer;
}
.autocomplete__li:first-child {
  border-top: 2px solid var(--button-border-colour);
}
.autocomplete__li:last-child {
  border-bottom: 2px solid var(--button-border-colour);
}

.rbyDialogueBox {
  width: 100%;
  min-width: 250px;
  padding: 10px;
  border-radius: 0.2em !important;
}

.rbyDialogueBox:focus {
  outline: 20px;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .rbyDialogueBox {
    min-width: 340px;
  }
}
