.autocomplete {
  width: 100%;
  border-radius: 0.2em !important;
}

.autocomplete input:focus {
  outline: none;
}

.autocomplete:focus {
  outline: 20px;
}

i.dialogueBoxArrow {
  right: 15px;
  pointer-events: revert;
}
i.dialogueBoxArrow:hover {
  cursor: pointer;
}

.dialogueBoxArrow {
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: var(--box-arrow-colour);
  float: right;
}

.autocomplete__li__btn {
  max-height: 75px;
}

.autocomplete__li__btn:hover,
.autocomplete__li__btn:focus {
  background-color: var(--hover-bg-colour);
  color: var(--hover-text-colour);
  outline: none;
  cursor: pointer;
}

/* 48em = 768px */
@media (min-width: 768px) {
  .autocomplete {
    width: 340px;
    margin: 0 auto;
  }
}

@media (max-width: 341px) {
  .container {
    width: 100%;
  }
}
