.head {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head > h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 4px 0 var(--header-shadow);
  z-index: 3;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--header-border);
}

.header ~ nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header ~ nav > ul > li a,
.header ~ nav > ul > li label {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.menu > li {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1em;
}

/* Right-Arrow Pointer: game-boy color style */
.menu > li:hover > i,
.menu a:focus + i {
  pointer-events: none;
  position: absolute;
  width: 0;
  left: 3px;
  height: 0;
  border: 10px solid transparent;
  border-left-color: var(--box-arrow-colour);
  float: right;
}

.menu a:focus {
  outline: 0;
}

.header ~ nav > .menu {
  max-height: 0;
  box-shadow: 1px 1px 4px 0 var(--header-shadow);
  transition: max-height 0.2s ease-out;
}

/* Dark mode toggle */
.menu > li:last-child {
  display: flex;
  justify-content: center;
}

/* hamburger menu for mobile */
.menuIcon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: absolute;
  top: 10px;
  right: 0px;
  user-select: none;
}

/* The span element that make the lines of the hamburger with its pseudoelements */
.navicon {
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  background: var(--text-colour);
}

.navicon:before {
  top: 5px;
}

.navicon:after {
  top: -5px;
}

/* The input element itself we always hide */
.menuInput {
  display: none;
}

/* Unchecked */
/* The hamburger icon when the menu is closed = input unchecked => show the middle line */
.menuInput ~ .menuIcon .navicon {
  background: var(--text-colour);
}

/* Checked => open the menu */
.menuInput:checked ~ nav > .menu {
  max-height: 350px;
}
/* The hamburger turns to an X when the menu is open => hide the middle line */
.menuInput:checked ~ .menuIcon .navicon {
  background: transparent;
}
/* Rotate the top line down */
.menuInput:checked ~ .menuIcon .navicon:before {
  transform: rotate(-45deg);
}
/* Rotate the bottom line up */
.menuInput:checked ~ .menuIcon .navicon:after {
  transform: rotate(45deg);
}

.menuInput:checked ~ .menuIcon:not(.steps) .navicon:before,
.menuInput:checked ~ .menuIcon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header ~ nav li {
    float: left;
  }
  .header ~ nav li a {
    padding: 20px 30px;
  }
  .header ~ nav > .menu {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    box-shadow: unset;
    float: right;
    max-height: none;
  }
  .header ~ .menuIcon {
    display: none;
  }
  .menu > li {
    margin-left: unset;
  }
}
