@import "tailwindcss/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "RBYGSC", Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.autocomplete > i.dialogue-box-arrow {
  left: 92%;
  top: 18px;
  pointer-events: revert;
}
.autocomplete > i.dialogue-box-arrow:hover {
  cursor: pointer;
}
.autocomplete > i.dialogue-box-arrow.up {
  border-top-color: #fff;
  border-bottom-color: black;
  top: 10px;
}

.dialogue-box-arrow {
  pointer-events: none;
  position: absolute;
  left: 92%;
  top: 40%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: black;
  float: right;
}

.autocomplete-li-option {
  background-color: #fff;
  border-left: 2px solid silver;
  border-right: 2px solid silver;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.autocomplete-li-option:last-child {
  border-bottom: 2px solid silver;
}
.autocomplete-li-option:hover,
.autocomplete-li-option.active {
  background-color: #5b8098;
  color: #fff;
  cursor: pointer;
}

.rby-dialogue-box {
  min-width: 340px;
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
}

.rby-dialogue-box:focus {
  outline: 20px;
}

.pokeball-box {
  position: relative;
  border: 5px double #000;
  padding: 10px;
}

.pokeball {
  height: 8px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fafafa;
}

.pokeball,
.pokeball-upper {
  position: absolute;
  width: 8px;
}

.pokeball-upper {
  left: -2px;
  bottom: 2px;
  height: 4px;
  border-radius: 8px 8px 0 0;
  background-color: #000;
}

.top-left {
  top: -6px;
  left: -6px;
}
.top-right {
  top: -6px;
  right: -6px;
}
.bottom-left {
  bottom: -6px;
  left: -6px;
}
.bottom-right {
  bottom: -6px;
  right: -6px;
}

.dotted-border {
  border: 1px solid #000;
}

/* Hides the <select> down arrow */
.hide-select-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
