.menu {
  width: 100%;
}

/* <ul> */
.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav__list > li {
  position: relative;
  display: flex;
  align-items: center;
}

.menu > li:hover > i {
  pointer-events: none;
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: black;
  float: right;
}

/* @media all and (max-width: 600px) {
  .nav__list {
    flex-direction: column;
  }
} */
