.card {
  width: 400px;
  padding: 1em;
  border-radius: 2px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
  display: flex;
}

/* 48em = 768px */
@media (max-width: 48em) {
  .card,
  .box {
    width: 90%;
  }
  .card__container {
    flex-direction: column;
    align-items: center;
  }
  .box {
    margin-top: 1em;
    margin-left: 0;
  }
}
